altgraph==0.17
appdirs==1.4.4
asgiref==3.3.1
astroid==2.4.2
autoflake==1.4
autopep8==1.5.4
beautifulsoup4==4.9.3
behave==1.2.6
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
cloudinary==1.22.0
Code2pdf==1.0.0
colorama==0.4.4
cssutils==1.0.2
distlib==0.3.1
Django==3.1.4
filelock==3.0.12
future==0.18.2
idna==2.10
isort==5.6.4
keyboard==0.13.5
lazy-object-proxy==1.4.3
linecache2==1.0.0
lxml==4.6.1
mccabe==0.6.1
mouse==0.7.1
parse==1.18.0
parse-type==0.5.2
pdfminer==20191125
pdfrw==0.4
pefile==2019.4.18
Pillow==8.0.1
pycodestyle==2.6.0
pycryptodome==3.9.8
pyflakes==2.2.0
Pygments==2.7.2
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.10
pylint==2.6.0
PyMuPDF==1.18.2
pyPdf==1.13
PyPDF2==1.26.0
pypiwin32==223
PySimpleGUI==4.30.0
pytz==2020.4
pywin32==228
pywin32-ctypes==0.2.0
requests==2.24.0
selenium==3.141.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.4.1
toml==0.10.1
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.25.11
virtualenv==20.1.0
win10toast==0.9
wrapt==1.12.1
